@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css");
@font-face {
  font-family: "Gilroy";
  src: url("assets/fonts/Gilroy-Black.woff2") format("woff2"),
      url("assets/fonts/Gilroy-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Gilroy";
  src: url("assets/fonts/Gilroy-Bold.woff2") format("woff2"),
      url("assets/fonts/Gilroy-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Gilroy";
  src: url("assets/fonts/Gilroy-BoldItalic.woff2") format("woff2"),
      url("assets/fonts/Gilroy-BoldItalic.woff") format("woff");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Gilroy";
  src: url("assets/fonts/Gilroy-BlackItalic.woff2") format("woff2"),
      url("assets/fonts/Gilroy-BlackItalic.woff") format("woff");
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Gilroy";
  src: url("assets/fonts/Gilroy-LightItalic.woff2") format("woff2"),
      url("assets/fonts/Gilroy-LightItalic.woff") format("woff");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Gilroy";
  src: url("assets/fonts/Gilroy-Light.woff2") format("woff2"),
      url("assets/fonts/Gilroy-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Gilroy";
  src: url("assets/fonts/Gilroy-ExtraBold.woff2") format("woff2"),
      url("assets/fonts/Gilroy-ExtraBold.woff") format("woff");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Gilroy";
  src: url("assets/fonts/Gilroy-HeavyItalic.woff2") format("woff2"),
      url("assets/fonts/Gilroy-HeavyItalic.woff") format("woff");
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Gilroy";
  src: url("assets/fonts/Gilroy-ExtraBoldItalic.woff2") format("woff2"),
      url("assets/fonts/Gilroy-ExtraBoldItalic.woff") format("woff");
  font-weight: 800;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Gilroy";
  src: url("assets/fonts/Gilroy-Heavy.woff2") format("woff2"),
      url("assets/fonts/Gilroy-Heavy.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Gilroy-RegularItalic";
  src: url("assets/fonts/Gilroy-RegularItalic.woff2") format("woff2"),
      url("assets/fonts/Gilroy-RegularItalic.woff") format("woff");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Gilroy";
  src: url("assets/fonts/Gilroy-Regular.woff2") format("woff2"),
      url("assets/fonts/Gilroy-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Gilroy";
  src: url("assets/fonts/Gilroy-MediumItalic.woff2") format("woff2"),
      url("assets/fonts/Gilroy-MediumItalic.woff") format("woff");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Gilroy";
  src: url("assets/fonts/Gilroy-Medium.woff2") format("woff2"),
      url("assets/fonts/Gilroy-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Gilroy";
  src: url("assets/fonts/Gilroy-ThinItalic.woff2") format("woff2"),
      url("assets/fonts/Gilroy-ThinItalic.woff") format("woff");
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Gilroy";
  src: url("assets/fonts/Gilroy-Thin.woff2") format("woff2"),
      url("assets/fonts/Gilroy-Thin.woff") format("woff");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Gilroy";
  src: url("assets/fonts/Gilroy-UltraLight.woff2") format("woff2"),
      url("assets/fonts/Gilroy-UltraLight.woff") format("woff");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Gilroy";
  src: url("assets/fonts/Gilroy-SemiBoldItalic.woff2") format("woff2"),
      url("assets/fonts/Gilroy-SemiBoldItalic.woff") format("woff");
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Gilroy";
  src: url("assets/fonts/Gilroy-SemiBold.woff2") format("woff2"),
      url("assets/fonts/Gilroy-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Gilroy";
  src: url("assets/fonts/Gilroy-UltraLightItalic.woff2") format("woff2"),
      url("assets/fonts/Gilroy-UltraLightItalic.woff") format("woff");
  font-weight: 200;
  font-style: italic;
  font-display: swap;
}
/*HOME*/
* {
  padding: 0;
  margin: 0;
  }
.nav{
  max-width: 100%;
  background-color: rgb(240, 95, 116);
  text-decoration: none;
  box-shadow: 0 0 30px rgb(0,0,0);
  min-height: 7.5vh;
  padding-top: 1vh;
  padding-bottom: 1vh;
  padding-left: 1.8% !important;
  font-size: 2.4vh;
}
.nav-link{
  color: aliceblue;
}
.nav-link:hover{
  color: rgb(48, 45, 45);
  
}

.nav-link2{
  padding-top: 0.9vh;
  color: aliceblue;
}
.group-vh-1{
  min-height: 6vh;
  margin-top: 1.5vh;
  
}
.btn-custom {
  background-color: rgb(240, 95, 116) !important;
  box-shadow: 0 0 1px rgb(0,0,0) !important;
  color: aliceblue !important;
  border-radius: 0% !important;
  width: 100%;
  height: 40px;
  padding: 0 !important;
}
.ajuste{
  padding-right: 0 !important;
  padding-bottom: 10px !important;
}
.ajuste2{
  padding-bottom: 10px !important;
}
.btn-custom:hover{
  color: rgb(48, 45, 45) !important; 
}

.btn-cross{
  width: 20px;
  height: 20px;
  background-color: rgb(240, 95, 116) !important;
  color: aliceblue !important;
  border-radius: 50% !important;
  border: none;
}
.btn-cross:hover{
  color: rgb(48, 45, 45) !important; 
  background-color: rgb(247, 152, 167) !important;
}
.barcode{
  margin-top: 1.5vh;
  font-size: 5.5vh;
  max-height: 10vh;
  border: 3px solid rgb(240, 95, 116);
  width: 100% !important;
  padding-left: 10px;
  
}
.btn-minus{
  width: 23px;
  height: 23px;
  margin-right: 5px;
  background-color: #383c44 !important;
  color: aliceblue !important;
  border-radius: 50% !important;
  border: none;
  font-weight: 500;
}
.btn-plus{
  width: 23px;
  height: 23px;
  margin-left: 5px;
  background-color: #383c44 !important;
  color: aliceblue !important;
  border-radius: 50% !important;
  border: none;
  font-weight: 500;
}
.btn-plus:hover, .btn-minus:hover{
  background-color: rgb(139, 137, 137) !important;
}
.modal-button-create{
  background-color: rgba(255, 255, 255, 0);
  border: rgba(158, 88, 88, 0);
  color: rgba(240, 95, 117, 0.664) ;

}
.modal-button-cancel{
  background-color: rgba(255, 255, 255, 0);
  border: rgba(158, 88, 88, 0);
  color: rgba(0, 0, 0, 0.664);
}
.search{
  
  border: 1.5px solid black !important;
  border-radius: 0% !important;
  box-shadow: none !important;
  padding-left: 2vh !important;
  margin-top: 1vh;
}
.boxsearch{
  padding-left: 2vh !important;
}

.productos{
  
  padding-left: 15px;
  padding-right: 15px;
  margin-top: 2vh;
}
.altura{
  height: 60vh;
  overflow:scroll;
  overflow-x: hidden;
}
.grilla{
  padding-right: 5px !important;
  padding-left: 5px !important;
  padding-top: 5px !important;
  padding-bottom: 5px !important;
}
.boton-secundario{
  background-color: rgb(173, 169, 169) !important;
  border-radius: 0% !important;
  width: 100%;
  height: 60px;
  position: relative;
}
.boton-secundario:hover .tooltext{
  display: inline-block;
}
.boton-secundario:hover .boton-secundario{
  overflow:visible;
  white-space:normal;
}
.tooltext{
  display: none;
  position: absolute;
  background-color: rgb(0,0,0);
  line-height: 20px;
  z-index: 500;
  color: aliceblue;
  text-align: center;
  font-size: 14px;
  padding: 5px 10px;
  border-radius: 5px;
  left: 0;
  right: 0;
  top: 45px;
  overflow:visible;
  white-space:normal;
}
.tooltext::after{
  content:"" ;
  display: block;
  border-bottom: 7px solid #000;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  position: absolute;
  top: -7px;
  left: calc(50% - 7px);
  overflow:visible;
  white-space:normal;
}


.label{
  border-bottom: 1px solid rgb(182, 179, 179) !important;
  width: 100%;
  font-size: 20px;
  padding-left: 0 !important;
  padding-top: 10px;
}
.labelsm{
  font-size: 2.4vh;
  background-color: rgba(255, 255, 255, 0);
  
}
.grop-vh-3{
  min-height: 4vh;
}
.combo-label{
  max-height: 16vh;
}
.btn-label {
  background-color: rgb(240, 95, 116) !important;
  box-shadow: 0 0 1px rgb(0,0,0) !important;
  margin-top: 14px ;
  color: aliceblue !important;
  border-radius: 0% !important;
  width: 100%;
  
}
.ajuste-label{
  padding-right: 0px !important;
}
.btn-label:hover{
  color: rgb(48, 45, 45) !important; 
}

.labelbottom{
  border-bottom: 1px solid rgb(240, 95, 116) !important;
  font-size: 3vh;
  font-weight:500;
  width: 100%;
  padding-top: 1vh;
}
.group-vh-4{
  margin-bottom: 0.5vh;
  min-height: 5vh !important;
}

.tabla{
  min-height: 40vh;
  border: 1px solid #383c44;
  padding: 0%;
  margin-top: 1vh;
}

.table thead{
  font-size: 14px;
}
.table thead th{
  padding-top: 4px !important;
  padding-bottom: 4px !important;
}
.table tbody{
  font-size: 14px;
}
.table tbody td{
  padding-top: 4px !important;
  padding-bottom: 4px !important;
}
.table th, .table td {
  padding: 0 !important;
}
.name{
  overflow:hidden;
  white-space:nowrap;
  text-overflow: ellipsis;
  max-width: 200px;
}

.select{
  color: black !important;
  border: 0px !important;
  border-radius: 0% !important;
  box-shadow: none !important;
  background-image: url(/src/assets/image/flecha.png) !important; 
  background-repeat: no-repeat !important;
  background-position: right center !important;
  -webkit-appearance: none !important;
  -moz-appearance: none !important;
  -o-appearance: none !important;
  appearance: none !important;
  width: 100%;
  outline:none;
  font-size: 2.4vh;
}
.modal-search{
  width: 100%;
  margin-bottom: 15px;
  border: 1.5px solid black !important;
  border-radius: 0% !important;
  box-shadow: none !important;
}

.trhover:hover{
  cursor: pointer;
  background-color: rgb(240, 240, 240);
}
.group-vh-5{
  max-height: 4vh !important;
}

.group-button{
  margin-top: 0.5vh ;
  margin-right: 1.7vh;
}

/*PEDIDOS*/
.searchPedidos{
  margin-top: 2vh;
  height: 18vh;
}
.TopLabel{
  margin-top: 2vh;
  height: 23vh;
}
.lista{
  height: 4vh;
  margin-top: 1vh;
}
.label-bottom-pedidos{
  width: 100%;
  font-size: 2vh;
  font-weight:500;
  width: 100%;
  padding-top: 1vh;
}
.label-state{
  color: red;
  width: 100%;
  font-size: 2.4vh;
  margin-top: 1.5vh;
  height: 40px;
}
.labelPedidos{
  width: 100%;
  font-size: 1.8vh;
  
  padding-bottom: 1.5vh;
  border-bottom: 1px solid rgb(182, 179, 179) !important;
}
.tabla2{
  height: 40vh;
  border: 1px solid #383c44;
  padding: 0%;
  margin-top: 1vh;
  padding-left: 0px !important;
  padding-right: 0px !important;
  overflow:scroll;
  overflow-x: hidden;
}

.tabla3{
  height: 55vh;
  border: 1px solid #383c44;
  padding: 0%;
  margin-top: 1vh;
  padding-left: 0px !important;
  padding-right: 0px !important;
}
.searchPed{
  width: 45% !important;
  float:left;
  margin-right: 5%;
  height: 35px !important;
  margin-top: 1vh;
  border: 1.5px solid black !important;
  border-radius: 0% !important;
  box-shadow: none !important;
}
.state{
  width: 20%;
  padding-top: 17px;
  height: 35px;
}
.sel{
  width: 37%;
  height: 35px;
  margin-right: 6%;
}
.boton{
  width: 37% !important;
  background-color: rgb(240, 95, 116) !important;
  box-shadow: 0 0 1px rgb(0,0,0) !important;
  color: aliceblue !important;
  border-radius: 0% !important;
  height: 35px;
  border: 0;
}
.boton2{
  width: 100% !important;
  background-color: rgb(240, 95, 116) !important;
  box-shadow: 0 0 1px rgb(0,0,0) !important;
  color: aliceblue !important;
  border-radius: 0% !important;
  height: 35px;
  border: 0;
}
.modal-content{
  border-radius: 0 !important;
}
.modal-dialog{
  max-width: 700px !important;
}
.boton-modal-buscar{
  border: transparent;
  background-color: rgb(240, 95, 116);
  color: aliceblue;
  padding: 7px;
  margin: 4px;
}

.boton-modal-buscar:hover{
  border: transparent;
  background-color: rgb(243, 155, 168);
  color: rgb(76, 76, 77);
  padding: 7px;
}
.fondo{
  background-color: rgb(240, 95, 116) !important;
  color: aliceblue;
}
.confirm{
  color: green;
}
.pendiente{
  color: red;
}
.modal-table{
  min-height: 60vh;
  border: 1px solid #383c44;
}
/*CLIENTES*/
.searchCli{
  width: 45% !important;
  float:left;
  margin-right: 5%;
  height: 35px !important;
  margin-top: 1.5vh;
  border: 1.5px solid black !important;
  border-radius: 0% !important;
  box-shadow: none !important;
}
.searchCargCli{
  width: 100% !important;
  float:left;
  margin-right: 5%;
  height: 35px !important;
  margin-top: 1.5vh;
  border: 1.5px solid black !important;
  border-radius: 0% !important;
  box-shadow: none !important;
}
.table tr:hover{
  cursor: pointer;
   background-color: rgb(202, 199, 199);
}
.btn-custom-clientes {
  background-color: rgb(240, 95, 116) !important;
  box-shadow: 0 0 1px rgb(0,0,0) !important;
  margin-top: 1.5vh ;
  margin-right: 1.7vh;
  color: aliceblue !important;
  border-radius: 0% !important;
  width: 100%;
  height: 35px !important;
}
.btn-custom-clientes:hover{
  color: rgb(48, 45, 45) !important; 
}
.labelCharge{
  font-weight: 500;
  font-size: 18px;
}
.label-border{
  font-size: 30px;
  border-bottom: 1px solid grey;
  padding-left: 0px !important;
}
.label-border-none{
  font-size: 30px;
  padding-left: 0px !important;
}
.btn-custom-clientes-chicos {
  background-color: rgb(240, 95, 116) !important;
  box-shadow: 0 0 1px rgb(0,0,0) !important;
  margin-top: 1.5vh ;
  margin-right: 0.5vh;
  color: aliceblue !important;
  border-radius: 0% !important;
  width: fit-content;
  height: 35px !important;

}
.btn-custom-clientes-chicos:hover{
  color: rgb(48, 45, 45) !important; 
}
.label-deuda{
  font-size: 22px;
  padding-left: 0px !important;
}
.rojo{
  color: red;
  margin-left: 0.8vh;
}
.custom-input{
  border: 1px solid black !important;
  border-radius: 0% !important;
}
.custom-file-label{
  margin-top: 1.5vh;
  border: 1px solid black !important;
  border-radius: 0% !important;
}

.custom-file-label::after{
  content: "Archivo" !important;
  background-color: rgba(245, 222, 179, 0) !important;
}
.btn-facturas {
  background-color: rgb(240, 95, 116) !important;
  box-shadow: 0 0 1px rgb(0,0,0) !important;
  margin-top: 1.5vh ;
  margin-left: 2vh;
  color: aliceblue !important;
  border-radius: 0% !important;
  height: 35px !important;
  
}
.btn-facturas:hover{
  color: rgb(48, 45, 45) !important; 
}
.label-facturas{
  font-size: 20px;
  padding-left: 0px !important;
}

.css-yk16xz-control{
    border-color: black !important;
    border-radius: 0 !important;
    cursor: pointer !important;
}
