@font-face {
  font-family: "Gilroy";
  src: url("assets/fonts/Gilroy-Black.woff2") format("woff2"),
      url("assets/fonts/Gilroy-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Gilroy";
  src: url("assets/fonts/Gilroy-Bold.woff2") format("woff2"),
      url("assets/fonts/Gilroy-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Gilroy";
  src: url("assets/fonts/Gilroy-BoldItalic.woff2") format("woff2"),
      url("assets/fonts/Gilroy-BoldItalic.woff") format("woff");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Gilroy";
  src: url("assets/fonts/Gilroy-BlackItalic.woff2") format("woff2"),
      url("assets/fonts/Gilroy-BlackItalic.woff") format("woff");
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Gilroy";
  src: url("assets/fonts/Gilroy-LightItalic.woff2") format("woff2"),
      url("assets/fonts/Gilroy-LightItalic.woff") format("woff");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Gilroy";
  src: url("assets/fonts/Gilroy-Light.woff2") format("woff2"),
      url("assets/fonts/Gilroy-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Gilroy";
  src: url("assets/fonts/Gilroy-ExtraBold.woff2") format("woff2"),
      url("assets/fonts/Gilroy-ExtraBold.woff") format("woff");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Gilroy";
  src: url("assets/fonts/Gilroy-HeavyItalic.woff2") format("woff2"),
      url("assets/fonts/Gilroy-HeavyItalic.woff") format("woff");
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Gilroy";
  src: url("assets/fonts/Gilroy-ExtraBoldItalic.woff2") format("woff2"),
      url("assets/fonts/Gilroy-ExtraBoldItalic.woff") format("woff");
  font-weight: 800;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Gilroy";
  src: url("assets/fonts/Gilroy-Heavy.woff2") format("woff2"),
      url("assets/fonts/Gilroy-Heavy.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Gilroy-RegularItalic";
  src: url("assets/fonts/Gilroy-RegularItalic.woff2") format("woff2"),
      url("assets/fonts/Gilroy-RegularItalic.woff") format("woff");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Gilroy";
  src: url("assets/fonts/Gilroy-Regular.woff2") format("woff2"),
      url("assets/fonts/Gilroy-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Gilroy";
  src: url("assets/fonts/Gilroy-MediumItalic.woff2") format("woff2"),
      url("assets/fonts/Gilroy-MediumItalic.woff") format("woff");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Gilroy";
  src: url("assets/fonts/Gilroy-Medium.woff2") format("woff2"),
      url("assets/fonts/Gilroy-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Gilroy";
  src: url("assets/fonts/Gilroy-ThinItalic.woff2") format("woff2"),
      url("assets/fonts/Gilroy-ThinItalic.woff") format("woff");
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Gilroy";
  src: url("assets/fonts/Gilroy-Thin.woff2") format("woff2"),
      url("assets/fonts/Gilroy-Thin.woff") format("woff");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Gilroy";
  src: url("assets/fonts/Gilroy-UltraLight.woff2") format("woff2"),
      url("assets/fonts/Gilroy-UltraLight.woff") format("woff");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Gilroy";
  src: url("assets/fonts/Gilroy-SemiBoldItalic.woff2") format("woff2"),
      url("assets/fonts/Gilroy-SemiBoldItalic.woff") format("woff");
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Gilroy";
  src: url("assets/fonts/Gilroy-SemiBold.woff2") format("woff2"),
      url("assets/fonts/Gilroy-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Gilroy";
  src: url("assets/fonts/Gilroy-UltraLightItalic.woff2") format("woff2"),
      url("assets/fonts/Gilroy-UltraLightItalic.woff") format("woff");
  font-weight: 200;
  font-style: italic;
  font-display: swap;
}
/*HOME*/
* {
  padding: 0;
  margin: 0;
  }
.nav{
  max-width: 100%;
  background-color: rgb(240, 95, 116);
  text-decoration: none;
  box-shadow: 0 0 30px rgb(0,0,0);
  min-height: 7.5vh;
  padding-top: 1vh;
  padding-bottom: 1vh;
  padding-left: 1.8% !important;
  font-size: 2.4vh;
}
.nav-link{
  color: aliceblue;
}
.nav-link:hover{
  color: rgb(48, 45, 45);
  
}

.group-vh-1{
  min-height: 6vh;
}
.btn-custom {
  background-color: rgb(240, 95, 116) !important;
  box-shadow: 0 0 1px rgb(0,0,0) !important;
  margin-top: 1.5vh ;
  margin-right: 1.7vh;
  color: aliceblue !important;
  border-radius: 0% !important;
  width: 150px;
  height: 40px;
}
.btn-custom:hover{
  color: rgb(48, 45, 45) !important; 
}
.btn-cross{
  width: 20px;
  height: 20px;
  background-color: rgb(240, 95, 116) !important;
  color: aliceblue !important;
  border-radius: 50% !important;
  border: none;
}
.btn-cross:hover{
  color: rgb(48, 45, 45) !important; 
  background-color: rgb(247, 152, 167) !important;
}
.modal-button-create{
  background-color: rgba(255, 255, 255, 0);
  border: rgba(158, 88, 88, 0);
  color: rgba(240, 95, 117, 0.664) ;

}
.modal-button-cancel{
  background-color: rgba(255, 255, 255, 0);
  border: rgba(158, 88, 88, 0);
  color: rgba(0, 0, 0, 0.664);
}
.search{
  margin-top: 1vh;
  border: 1.5px solid black !important;
  border-radius: 0% !important;
  box-shadow: none !important;
}
.group-vh-2{
  height: 10vh;
}
.grilla{
  margin-bottom: 7px;
}

.productos{
  max-height: 60vh !important;
  min-height: 30vh !important;
  overflow:scroll;
  overflow-x: hidden;
}
.btn-secundario{
  background-color: rgb(173, 169, 169) !important;
  border-radius: 0% !important;
  width: 140px;
  height: 60px;
  margin: 4px;
  position: relative;
}
.btn-secundario:hover .tooltext{
  display: inline-block;
}
.btn-secundario:hover .btn-secundario{
  overflow:visible;
  white-space:normal;
}
.tooltext{
  display: none;
  position: absolute;
  background-color: rgb(0,0,0);
  line-height: 20px;
  z-index: 500;
  color: aliceblue;
  text-align: center;
  font-size: 14px;
  padding: 5px 10px;
  border-radius: 5px;
  left: 0;
  right: 0;
  top: 45px;
  overflow:visible;
  white-space:normal;
}
.tooltext::after{
  content:"" ;
  display: block;
  border-bottom: 7px solid #000;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  position: absolute;
  top: -7px;
  left: calc(50% - 7px);
  overflow:visible;
  white-space:normal;
}

.barcode{
  margin-top: 1.5vh;
  font-size: 5.5vh;
  max-height: 10vh;
  border: 3px solid rgb(240, 95, 116);
  width: 100%;
  padding-left: 10px;
  
}
.label{
  border-bottom: 1px solid rgb(182, 179, 179) !important;
  width: 100%;
  font-size: 2.4vh;
  margin-top: 1.5vh;
  height: 40px;
}
.grop-vh-3{
  min-height: 6vh;
  width: 100%;
}

.labelbottom{
  border-bottom: 1px solid rgb(240, 95, 116) !important;
  font-size: 3vh;
  font-weight:500;
  width: 100%;
  padding-top: 1vh;
}
.group-vh-4{
  margin-bottom: 0.5vh;
  min-height: 5vh !important;
}
.tabla{
  min-height: 40vh;
  border: 1px solid #383c44;
  padding: 0%;
  margin-top: 1vh;
}

.table thead{
  font-size: 14px;
}
.table thead th{
  padding-top: 4px !important;
  padding-bottom: 4px !important;
}
.table tbody{
  font-size: 14px;
  max-height: min-content;
}
.table tbody td{
  padding-top: 4px !important;
  padding-bottom: 4px !important;
}
.name{
  overflow:hidden;
  white-space:nowrap;
  text-overflow: ellipsis;
  max-width: 200px;
}

.select{
  color: black !important;
  border: 0px !important;
  border-radius: 0% !important;
  box-shadow: none !important;
  background-image: url(/src/assets/image/flecha.png) !important; 
  background-repeat: no-repeat !important;
  background-position: right center !important;
  -webkit-appearance: none !important;
  -moz-appearance: none !important;
  -o-appearance: none !important;
  appearance: none !important;
  width: 100%;
  outline:none;
  font-size: 2vh;
}

.group-vh-5{
  max-height: 4vh !important;
}
.group-button-1{
  margin-right: 20px;
}
.group-button-2{
  margin-right: 20px;
}
.margin-labelsm{
  margin-top: 1vh;
  font-size: 2vh;
}
/*PEDIDOS*/
.label-bottom-pedidos{
  width: 100%;
}
.label-state{
  color: red;
  width: 100%;
  font-size: 2.4vh;
  margin-top: 1.5vh;
  height: 40px;
}
.labelPedidos{
  width: 100%;
  font-size: 1.8vh;
  height: 25px;
  border-bottom: 1px solid rgb(182, 179, 179) !important;
}
.search{
  width: 45% !important;
  float:left;
  margin-right: 5%;
  height: 40px;
}
.state{
  width: 30%;
  height: 40px;
  padding-top: 17px;
}
.sel{
  width: 35% !important;
  height: 40px;
  padding-top: 17px;
}
.boton{
  width: 17% !important;
  background-color: rgb(240, 95, 116) !important;
  box-shadow: 0 0 1px rgb(0,0,0) !important;
  color: aliceblue !important;
  border-radius: 0% !important;
  height: 40px;
}

