* {
  padding: 0;
  margin: 0;
  }
.nav{
  max-width: 100%;
  background-color: rgb(240, 95, 116);
  text-decoration: none;
  box-shadow: 0 0 30px rgb(0,0,0);
  font-size: 16px;
  height: 2%;
  padding-top: 7px;
  padding-bottom: 7px;
  padding-left: 1.8% !important;
}
.nav-link{
  color: aliceblue;
}
.nav-link:hover{
  color: rgb(48, 45, 45);
  
}

.btn-custom {
  width: 100%;
  background-color: rgb(240, 95, 116) !important;
  box-shadow: 0 0 1px rgb(0,0,0) !important;
  margin-left: 2px;
  margin-top: 5px;
  color: aliceblue !important;
  font-size: 16px !important;
  padding: 2px !important;
  border-radius: 0% !important;
}
.btn-custom:hover{
  color: rgb(48, 45, 45) !important; 
}
.btn-cross{
  width: 25px;
  height: 25px;
  background-color: rgb(240, 95, 116) !important;
  color: aliceblue !important;
  border-radius: 50% !important;
  border: none;
  font-size: 10px !important;
}
.btn-cross:hover{
  color: rgb(48, 45, 45) !important; 
  background-color: rgb(247, 152, 167) !important;
}
.modal-button-create{
  background-color: rgba(255, 255, 255, 0);
  border: rgba(158, 88, 88, 0);
  color: rgba(240, 95, 117, 0.664) ;
  font-weight: bold;
}
.modal-button-cancel{
  background-color: rgba(255, 255, 255, 0);
  border: rgba(158, 88, 88, 0);
  font-weight: bold;
  color: rgba(0, 0, 0, 0.664);
}
#modal-tittle{
  font-weight: bolder;
}
.search{
  margin-top: 10px;
  border: 1.5px solid black !important;
}
.grilla{
  padding: 10px;
}
.padding-label{
  padding-top: 10px;
}
.productos{
  height: 600px !important;
  overflow: scroll;
  overflow-x: hidden;
}
.btn-secundario{
  background-color: rgb(173, 169, 169) !important;
  border-radius: 0% !important;
  font-size: 14px !important;
}
.barcode{
  font-size: 45px;
  border: 3px solid rgb(240, 95, 116);
  width: 100%;
}
.label{
  border-bottom: 1px solid rgb(182, 179, 179) !important;
  width: 200px;
  font-size: 20px;
}
.labelbottom{
  border-bottom: 1px solid rgb(240, 95, 116) !important;
  font-size: 30px;
  font-weight:500
  
}
.tabla{
  padding-top: 20px !important;
}
.table{
  border: 2px solid black;
  font-size: 13px;
  height: 400px;
}
.select-custom{
  color: black !important;
}